In [1]:
%reload_ext nb_black

In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings("ignore")

In [3]:
postgres_user = "dsbc_student"
postgres_pw = "7*.8G9QH21"
postgres_host = "142.93.121.174"
postgres_port = "5432"
postgres_db = "useducation"

engine = create_engine(
    "postgresql://{}:{}@{}:{}/{}".format(
        postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db
    )
)

us_ed = pd.read_sql_query("select * from useducation", con=engine)

# no need for an open connection,
# as we're only doing a single query
engine.dispose()

To complete this assignment, submit a link to a Jupyter notebook containing your solutions to the following tasks:

1. Determine all the variable types and find the fraction of the missing values for each variable.


2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?


3. Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.


4. This time, fill in the missing values using interpolation (extrapolation).


5. Compare your results for the 2nd, 3rd, and 4th questions. Do you find any meaningful differences?

In [4]:
us_ed.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

In [5]:
us_ed.shape

(1492, 25)

In [6]:
us_ed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1492 non-null   object
 1   STATE                         1492 non-null   object
 2   YEAR                          1492 non-null   int64
 3   ENROLL                        1229 non-null   float64
 4   TOTAL_REVENUE                 1280 non-null   float64
 5   FEDERAL_REVENUE               1280 non-null   float64
 6   STATE_REVENUE                 1280 non-null   float64
 7   LOCAL_REVENUE                 1280 non-null   float64
 8   TOTAL_EXPENDITURE             1280 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1280 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1280 non-null   float64
 11  OTHER_EXPENDITURE             1229 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1280 non-null   float64
 13  GRADES_PK_G                   1319 non-null   float64
 14  GRADES_KG_G                   1360 non-null   float64
 15  GRADES_4_G                    1361 non-null   float64
 16  GRADES_8_G                    1361 non-null   float64
 17  GRADES_12_G                   1361 non-null   float64
 18  GRADES_1_8_G                  1361 non-null   float64
 19  GRADES_9_12_G                 1361 non-null   float64
 20  GRADES_ALL_G                  1319 non-null   float64
 21  AVG_MATH_4_SCORE              536 non-null    float64
 22  AVG_MATH_8_SCORE              532 non-null    float64
 23  AVG_READING_4_SCORE           533 non-null    float64
 24  AVG_READING_8_SCORE           498 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [7]:
us_ed.isnull().sum() * 100 / us_ed.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

In [11]:
us_ed[["ENROLL", "GRADES_ALL_G"]].dropna().head(5) #numbers are prety close and documentation says 
                                                   #they're comparabble so I'm gona fill with vals

       ENROLL  GRADES_ALL_G
52   727716.0      677690.0
53   121156.0      115619.0
54   676297.0      647299.0
55   311432.0      407329.0
56  5129788.0     4782111.0
57   539538.0      575380.0
58   471918.0      443893.0
59   104355.0       97394.0
60    80937.0       69987.0
61  1980569.0     1873623.0
62   893557.0     1131939.0
63   177448.0      165112.0
64   231632.0      218465.0
65  1856841.0     1660019.0
66   958052.0      886055.0
67   493957.0      445426.0
68   451469.0      419852.0
69   489281.0      599582.0
70   795719.0      700175.0
71   211511.0      196113.0
72   751850.0      699517.0
73   862495.0      794236.0
75  1600650.0     1408541.0
76   781566.0      747888.0
77   329408.0      452703.0

In [12]:
us_ed["ENROLL"].fillna(us_ed["GRADES_ALL_G"], inplace=True)

In [15]:
us_ed["GRADES_ALL_G"].fillna(us_ed["ENROLL"], inplace=True) #other way around to

In [16]:
us_ed.isnull().sum() * 100 / us_ed.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                           7.506702
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                     7.506702
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64