## Day 29 Lecture 1 Assignment

In this assignment, we will learn about decision trees. We will use the Chicago salary dataset loaded below.

In [10]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor, plot_tree

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

boston_data = load_boston()

In [2]:
chicago = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Current_Employee_Names__Salaries__and_Position_Titles.csv')

In [3]:
chicago.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

To simplify this problem, we will limit our model to only salary employees. Create a new dataset that does not contain any hourly employees.

In [4]:
# answer below:
salary_df = chicago[chicago['Salary or Hourly'] == 'Salary']

Next, we will look at the count of all values for both job titles and department to ensure that we don't use features that are too sparse in our model.

In [0]:
# answer below:
salary_df
salary_df['Department'].isin()

Choose the between department and job title and use the variable with the smallest number of values to for one hot encoding. Additionally, create dummy variables for full ot part-time.

In [9]:
# answer below:

del_cols = salary_df['Department'].value_counts().sort_values().index[0:10]
new_del_cols=[]
for col in del_cols:
    new_str = 'Dept_'+col
    new_del_cols.append(new_str)
new_del_cols

Index(['LICENSE APPL COMM', 'POLICE BOARD', 'BOARD OF ETHICS', 'COPA',
       'HUMAN RELATIONS', 'TREASURER', 'DISABILITIES', 'ADMIN HEARNG',
       'BUDGET & MGMT', 'IPRA'],
      dtype='object')

Remove all irrelevant columns (Name, Job Titles, Salary or Hourly, Typical Hours, Hourly Rate)

In [7]:
# answer below:
salary = salary_df['Annual Salary'].str.strip('$')
pd.to_numeric(salary)

0        107790.0
1        104628.0
2        114324.0
3         76932.0
4        111474.0
           ...
32653     90024.0
32654     48078.0
32655     87006.0
32656     93354.0
32657    115932.0
Name: Annual Salary, Length: 24775, dtype: float64

Check that none of the remaining columns are of object type and convert them to numeric if they are of object type.

In [0]:
# answer below:

pd.concat([dept_dummy, time_dummy], axis=1)

Split the data into a test and train sample. Use annual salary as the dependent variable. 20% of the data should be assigned to the test sample.

In [0]:
# answer below:
X_train

Generate a regession decision tree using `DecisionTreeRegressor` in sklearn. Fit the model on the training set and calculate the score for both train and test.

In [0]:
# answer below: