In [1]:
%reload_ext nb_black

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sqlalchemy import create_engine
import warnings

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression
from sklearn.metrics import mean_absolute_error
from statsmodels.tools.eval_measures import mse, rmse

import statsmodels.api as sm

warnings.filterwarnings("ignore")

In [3]:
data_loc = "data/Iowa LAUS Data 2020-07.csv"

In [4]:
iowa = pd.read_csv(data_loc)

In [5]:
iowa.head()

,STFIPS,AREATYNAME,AREANAME,YEAR,MONTH,ADJUSTED,PRELIM,LABORFORCE,EMP,UNEMP,UNEMPRATE,LABFORCE_PARTRATE
0,19,Cities,Mason City,2004,July,0,0,16200,15500,800,4.6,NaN
1,19,Cities,Mason City,2004,August,0,0,16000,15200,800,4.8,NaN
2,19,Cities,Mason City,2004,September,0,0,15700,15000,700,4.6,NaN
3,19,Cities,Mason City,2004,October,0,0,15900,15200,700,4.4,NaN
4,19,Cities,Mason City,2004,November,0,0,15900,15100,800,4.8,NaN

In [8]:
iowa_story = iowa[iowa["AREANAME"] == "Story County"]

In [12]:
iowa_story = iowa_story[iowa_story["YEAR"] <= 2010]
iowa_story = iowa_story[iowa_story["YEAR"] >= 2006]

In [13]:
iowa_story.head()

,STFIPS,AREATYNAME,AREANAME,YEAR,MONTH,ADJUSTED,PRELIM,LABORFORCE,EMP,UNEMP,UNEMPRATE,LABFORCE_PARTRATE
35554,19,County,Story County,2006,January,0,0,46700,45400,1400,2.9,NaN
35555,19,County,Story County,2006,February,0,0,48000,46600,1400,2.9,NaN
35556,19,County,Story County,2006,March,0,0,47500,46200,1300,2.7,NaN
35557,19,County,Story County,2006,April,0,0,48200,47000,1100,2.4,NaN
35558,19,County,Story County,2006,May,0,0,47600,46500,1200,2.5,NaN

In [14]:
unemp_rates = iowa_story[["MONTH", "YEAR", "UNEMPRATE"]]

In [23]:
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthlen',
 'monthrange',
 'nextmonth',
 'prcal',
 'prevmonth',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [24]:
import calendar

month_key = {v: k for k, v in enumerate(calendar.month_name)}

In [25]:
month_key

{'': 0,
 'January': 1,
 'February': 2,
 'March': 3,
 'April': 4,
 'May': 5,
 'June': 6,
 'July': 7,
 'August': 8,
 'September': 9,
 'October': 10,
 'November': 11,
 'December': 12}

In [27]:
unemp_rates["MONTH"] = unemp_rates["MONTH"].replace(to_replace=month_key)

In [29]:
unemp_rates.to_csv("data/unemp.csv", index=True)

In [28]:
unemp_rates

       MONTH  YEAR  UNEMPRATE
35554      1  2006        2.9
35555      2  2006        2.9
35556      3  2006        2.7
35557      4  2006        2.4
35558      5  2006        2.5
35559      6  2006        3.1
35560      7  2006        2.7
35561      8  2006        2.6
35562      9  2006        2.5
35563     10  2006        2.4
35564     11  2006        2.4
35565     12  2006        2.4
35566      1  2007        2.9
35567      2  2007        2.9
35568      3  2007        2.8
35569      4  2007        2.6
35570      5  2007        2.6
35571      6  2007        3.3
35572      7  2007        2.8
35573      8  2007        2.8
35574      9  2007        2.6
35575     10  2007        2.5
35576     11  2007        2.6
35577     12  2007        2.8
35578      1  2008        3.1
35579      2  2008        3.0
35580      3  2008        3.0
35581      4  2008        2.8
35582      5  2008        3.0
35583      6  2008        3.8
35584      7  2008        3.5
35585      8  2008        3.5
35586      9  2008        3.0
35587     10  2008        2.8
35588     11  2008        3.0
35589     12  2008        3.7
35590      1  2009        4.5
35591      2  2009        4.7
35592      3  2009        4.8
35593      4  2009        4.6
35594      5  2009        4.6
35595      6  2009        5.7
35596      7  2009        5.2
35597      8  2009        5.3
35598      9  2009        4.5
35599     10  2009        4.1
35600     11  2009        4.3
35601     12  2009        4.7
35602      1  2010        4.8
35603      2  2010        4.7
35604      3  2010        4.6
35605      4  2010        3.9
35606      5  2010        4.0
35607      6  2010        4.7
35608      7  2010        4.3
35609      8  2010        4.4
35610      9  2010        3.8
35611     10  2010        3.5
35612     11  2010        3.6
35613     12  2010        4.0