In [1]:
%reload_ext nb_black

## Day 76 Lecture 2 Assignment

In this assignment, we will learn about Dask dataframes. We will use the census dataset loaded below and perform some exploratory data analysis.

In [4]:
pip install aiohttp

ERROR:root:Cannot parse: 1:4: pip install aiohttp
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\lab_black.py", line 218, in format_cell
    formatted_code = _format_code(cell)
  File "C:\ProgramData\Anaconda3\lib\site-packages\lab_black.py", line 29, in _format_code
    return format_str(src_contents=code, mode=FileMode())
  File "C:\ProgramData\Anaconda3\lib\site-packages\black.py", line 725, in format_str
    src_node = lib2to3_parse(src_contents.lstrip(), mode.target_versions)
  File "C:\ProgramData\Anaconda3\lib\site-packages\black.py", line 836, in lib2to3_parse
    raise exc from None
black.InvalidInput: Cannot parse: 1:4: pip install aiohttp

Collecting aiohttp
  Downloading aiohttp-3.7.2-cp37-cp37m-win_amd64.whl (627 kB)
Requirement already satisfied: attrs>=17.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp) (20.3.0)
Requirement already satisfied: chardet<4.0,>=2.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp) (3.0.4)
Collecting async-timeout<4.0,>=3.0
  Downloading async_timeout-3.0.1-py3-none-any.whl (8.2 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.6.3-cp37-cp37m-win_amd64.whl (124 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-5.0.2-cp37-cp37m-win_amd64.whl (48 kB)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\programdata\anaconda3\lib\site-packages (from aiohttp) (3.7.4.3)
Requirement already satisfied: idna>=2.0 in c:\programdata\anaconda3\lib\site-packages (from yarl<2.0,>=1.0->aiohttp) (2.10)
Installing collected packages: async-timeout, multidict, yarl, aiohttp
Successfully installed aiohttp-3.7.2 async-timeout-3.0.1 multidict-5.0.2 yarl-1.6.3
Note: you may need to restart the kernel to use updated packages.

In [5]:
import dask.dataframe as dd
import numpy as np

In [6]:
census = dd.read_csv(
    "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/acs2015_census_tract_data.csv"
)

In [12]:
census

Dask DataFrame Structure:
              CensusTract   State  County TotalPop    Men  Women Hispanic    White    Black   Native    Asian  Pacific Citizen   Income IncomeErr IncomePerCap IncomePerCapErr  Poverty ChildPoverty Professional  Service   Office Construction Production    Drive  Carpool  Transit     Walk OtherTransp WorkAtHome MeanCommute Employed PrivateWork PublicWork SelfEmployed FamilyWork Unemployment
npartitions=1
                    int64  object  object    int64  int64  int64  float64  float64  float64  float64  float64  float64   int64  float64   float64      float64         float64  float64      float64      float64  float64  float64      float64    float64  float64  float64  float64  float64     float64    float64     float64    int64     float64    float64      float64    float64      float64
                      ...     ...     ...      ...    ...    ...      ...      ...      ...      ...      ...      ...     ...      ...       ...          ...             ...      ...          ...          ...      ...      ...          ...        ...      ...      ...      ...      ...         ...        ...         ...      ...         ...        ...          ...        ...          ...
Dask Name: read-csv, 1 tasks

In [7]:
census.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

The dataset described above contains the aggregated data for each county in the United States. For example, the number in the Carpool column describes the percent of people in the county who carpool to work.

Print all the column names in the dataset and describe the data in each column

In [8]:
# Answer below:
census.columns

Index(['CensusTract', 'State', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [9]:
census.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 37 entries, CensusTract to Unemployment
dtypes: object(2), float64(29), int64(6)

In [20]:
census.describe().compute()

,CensusTract,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,7.400100e+04,74001.000000,74001.000000,74001.000000,73311.000000,73311.000000,73311.000000,73311.000000,73311.000000,73311.000000,...,73204.000000,73204.000000,73204.000000,73052.000000,74001.000000,73194.000000,73194.000000,73194.000000,73194.000000,73199.000000
mean,2.839113e+10,4325.591465,2127.648816,2197.942649,16.862810,62.032106,13.272581,0.727726,4.588253,0.145012,...,3.123340,1.891606,4.368093,25.667357,1983.907366,78.975238,14.621566,6.233814,0.169772,9.028663
std,1.647593e+10,2129.306903,1072.332031,1095.730931,22.940695,30.684152,21.762483,4.488340,8.794003,1.037354,...,5.881237,2.596198,3.904990,6.964881,1073.429808,8.345758,7.535786,4.042990,0.458227,5.955441
min,1.001020e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.303901e+10,2891.000000,1409.000000,1461.000000,2.400000,39.400000,0.700000,0.000000,0.200000,0.000000,...,0.400000,0.400000,1.800000,20.800000,1249.000000,74.600000,9.600000,3.500000,0.000000,5.100000
50%,2.804700e+10,4063.000000,1986.000000,2066.000000,7.000000,71.400000,3.700000,0.000000,1.400000,0.000000,...,1.400000,1.100000,3.500000,25.000000,1846.000000,80.100000,13.400000,5.500000,0.000000,7.700000
75%,4.200341e+10,5442.000000,2674.000000,2774.000000,20.400000,88.300000,14.400000,0.400000,4.800000,0.000000,...,3.500000,2.500000,5.900000,29.800000,2553.000000,84.600000,18.200000,8.100000,0.000000,11.400000
max,7.215375e+10,53812.000000,27962.000000,27250.000000,100.000000,100.000000,100.000000,100.000000,91.300000,84.700000,...,100.000000,100.000000,100.000000,80.000000,24075.000000,100.000000,100.000000,100.000000,26.500000,100.000000

How many counties have a unemployement rate above 10%?

In [38]:
# Answer below:

census[census["Unemployment"] > 10]["County"].nunique().compute()

1423

Print the number of counties in each state.

In [19]:
# Answer below:

census["State"].value_counts().compute()

California              8057
Texas                   5265
New York                4918
Florida                 4245
Pennsylvania            3218
Illinois                3123
Ohio                    2952
Michigan                2813
North Carolina          2195
New Jersey              2010
Georgia                 1969
Virginia                1907
Arizona                 1526
Indiana                 1511
Tennessee               1497
Massachusetts           1478
Washington              1458
Wisconsin               1409
Maryland                1406
Missouri                1393
Minnesota               1338
Colorado                1249
Alabama                 1181
Louisiana               1148
Kentucky                1115
South Carolina          1103
Oklahoma                1046
Puerto Rico              945
Oregon                   834
Connecticut              833
Iowa                     825
Kansas                   770
Nevada                   687
Arkansas                 686
Mississippi              664
Utah                     588
Nebraska                 532
New Mexico               499
West Virginia            484
Maine                    358
Hawaii                   351
Idaho                    298
New Hampshire            295
Montana                  271
Rhode Island             244
South Dakota             222
Delaware                 218
North Dakota             205
Vermont                  184
District of Columbia     179
Alaska                   167
Wyoming                  132
Name: State, dtype: int64

In [24]:
census.groupby("State").count().compute()["County"]

State
Alabama                 1181
Alaska                   167
Arizona                 1526
Arkansas                 686
California              8057
Colorado                1249
Connecticut              833
Delaware                 218
District of Columbia     179
Florida                 4245
Georgia                 1969
Hawaii                   351
Idaho                    298
Illinois                3123
Indiana                 1511
Iowa                     825
Kansas                   770
Kentucky                1115
Louisiana               1148
Maine                    358
Maryland                1406
Massachusetts           1478
Michigan                2813
Minnesota               1338
Mississippi              664
Missouri                1393
Montana                  271
Nebraska                 532
Nevada                   687
New Hampshire            295
New Jersey              2010
New Mexico               499
New York                4918
North Carolina          2195
North Dakota             205
Ohio                    2952
Oklahoma                1046
Oregon                   834
Pennsylvania            3218
Puerto Rico              945
Rhode Island             244
South Carolina          1103
South Dakota             222
Tennessee               1497
Texas                   5265
Utah                     588
Vermont                  184
Virginia                1907
Washington              1458
West Virginia            484
Wisconsin               1409
Wyoming                  132
Name: County, dtype: int64

Add a high child poverty boolean column. This column will be 1 if the rate of child poverty is over %20 and 0 otherwise.

In [39]:
# Answer below:
census['high_child_poverty']=(census['ChildPoverty']>20).astype(int)

In [40]:
census["high_child_poverty"].compute()

0        0
1        1
2        0
3        0
4        0
        ..
73996    1
73997    1
73998    1
73999    1
74000    1
Name: high_child_poverty, Length: 74001, dtype: int32

What are the top 10 most populated counties?

In [36]:
census.nlargest(n=10, columns=["TotalPop"]).compute()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,high_child_poverty
63656,48157673101,Texas,Fort Bend,53812,26562,27250,18.5,53.9,7.0,1.0,...,2.2,6.4,36.5,24075,82.2,12.3,5.2,0.3,3.0,1
9724,6073018700,California,San Diego,39454,27962,11492,23.0,60.5,9.3,1.1,...,2.0,11.7,12.3,3548,41.4,55.7,2.9,0.0,15.5,1
18180,12119911200,Florida,Sumter,38169,17638,20531,1.4,96.0,1.3,0.0,...,8.0,19.5,23.2,5407,80.4,10.8,8.9,0.0,8.0,1
63652,48157672900,Texas,Fort Bend,38137,18139,19998,23.9,22.2,28.5,0.0,...,1.3,3.4,38.5,18577,82.4,14.7,2.4,0.5,6.7,1
18070,12115002712,Florida,Sarasota,35527,17250,18277,8.5,78.1,9.3,0.1,...,2.2,2.4,29.5,13962,81.5,13.8,4.4,0.2,7.1,1
62174,48039660602,Texas,Brazoria,33655,15473,18182,22.8,27.1,28.2,0.0,...,1.4,0.5,35.1,18425,80.4,16.0,3.6,0.0,2.3,1
65439,48339692001,Texas,Montgomery,31493,15813,15680,17.0,71.8,6.3,0.0,...,0.5,5.6,34.5,15828,89.0,8.8,2.2,0.0,3.8,1
16886,12095016730,Florida,Orange,30258,14659,15599,35.1,46.8,7.7,0.0,...,1.9,12.7,30.5,15521,83.2,13.9,2.8,0.0,6.1,1
50374,38017040500,North Dakota,Cass,30256,14321,15935,1.5,93.7,1.4,0.7,...,0.7,3.4,17.8,18538,85.1,11.8,3.1,0.0,2.3,1
63558,48141010341,Texas,El Paso,29238,13942,15296,84.8,9.2,4.4,0.2,...,0.2,2.3,28.3,11618,69.7,25.3,5.0,0.0,7.4,1

What is the current number of partitions?

In [37]:
#Answer below:
census.npartitions

1