# SQL in Python Assignment

In [1]:
%reload_ext nb_black

In [2]:
import pandas as pd
from sqlalchemy import *

### Connect to the personal database you created yesterday.
Remember the way the credentials work:
```
user = 'postgres' # Replace with your user, if different
pwd = 'pAsSwOrD' # Replace with your password
host = 'localhost'
port = '5432'
db = 'postgres' # Replace with your database name, if different
```

In [3]:
# Read contents of `secrets.json` to a dictionary
import json

with open("../secrets.json", "r") as f:
    secrets = json.load(f)

In [4]:
postgres_user = "postgres"
postgres_pw = secrets["local_psql_pw"]
postgres_host = "localhost"
postgres_port = "5432"
postgres_db = "postgres"

In [5]:
conn_str = f"postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}"

In [6]:
engine = create_engine(conn_str)
engine

Engine(postgresql://postgres:***@localhost:5432/postgres)

### Obtain a list of tables that are in the database.

In [7]:
engine.table_names()

['vehicles', 'houseprices', 'iris', 'audi18']

### Obtain a list of all the fields that are in the vehicles table along with the data type of each.

In [8]:
meta = MetaData(engine)

In [9]:
vehicles_meta = Table("vehicles", meta, autoload=True)

In [10]:
list(vehicles_meta.columns)

[Column('id', BIGINT(), table=<vehicles>),
 Column('make', TEXT(), table=<vehicles>),
 Column('model', TEXT(), table=<vehicles>),
 Column('year', BIGINT(), table=<vehicles>),
 Column('class', TEXT(), table=<vehicles>),
 Column('trans', TEXT(), table=<vehicles>),
 Column('drive', TEXT(), table=<vehicles>),
 Column('cyl', DOUBLE_PRECISION(precision=53), table=<vehicles>),
 Column('displ', DOUBLE_PRECISION(precision=53), table=<vehicles>),
 Column('fuel', TEXT(), table=<vehicles>),
 Column('hwy', BIGINT(), table=<vehicles>),
 Column('cty', BIGINT(), table=<vehicles>)]

### Write a SELECT query to retrieve all records from the database and load them into a Pandas data frame.

In [11]:
query = """
SELECT *
FROM vehicles
"""

vehicles_df = pd.read_sql_query(query, engine)
vehicles_df.head()

,id,make,model,year,class,trans,drive,cyl,displ,fuel,hwy,cty
0,27550,AM General,DJ Po Vehicle 2WD,1984,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,4.0,2.5,Regular,17,18
1,28426,AM General,DJ Po Vehicle 2WD,1984,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,4.0,2.5,Regular,17,18
2,27549,AM General,FJ8c Post Office,1984,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,6.0,4.2,Regular,13,13
3,28425,AM General,FJ8c Post Office,1984,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,6.0,4.2,Regular,13,13
4,1032,AM General,Post Office DJ5 2WD,1985,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,4.0,2.5,Regular,17,16

### Create a table that contains all Audi vehicles with a city fuel efficiency greater than 18.

In [12]:
query = """
SELECT *
FROM vehicles
WHERE make = 'Audi' and cty>18
"""

audi_18 = pd.read_sql_query(query, engine)
audi_18.head()

,id,make,model,year,class,trans,drive,cyl,displ,fuel,hwy,cty
0,2963,Audi,4000,1987,Subcompact Cars,Automatic 3-spd,Front-Wheel Drive,4.0,1.8,Regular,24,21
1,2964,Audi,4000,1987,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,4.0,1.8,Regular,28,22
2,1749,Audi,4000 S,1986,Subcompact Cars,Automatic 3-spd,Front-Wheel Drive,4.0,1.8,Regular,24,21
3,1750,Audi,4000 S,1986,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,4.0,1.8,Regular,28,22
4,53,Audi,4000s,1985,Subcompact Cars,Automatic 3-spd,Front-Wheel Drive,4.0,1.8,Regular,24,21

In [13]:
query = """
CREATE TABLE IF NOT EXISTS audi18 AS
SELECT *
FROM vehicles
WHERE make = 'Audi' and cty>18
"""

engine.execute(query)

In [14]:
engine.table_names()

['vehicles', 'houseprices', 'iris', 'audi18']

### Delete all records from the temp table you just created.

In [15]:
query = """
DELETE FROM audi18
"""
engine.execute(query)

### Insert records from the vehicles table back into the table you created where the make is Audi and the city fuel efficiency is greater than 20.

In [16]:
query = """
INSERT INTO audi18
SELECT *
FROM vehicles
WHERE make = 'Audi' AND cty>20
"""
engine.execute(query)

### Update the drive field of the records in the table you created to change any "4-Wheel or All-Wheel Drive" values to "All-Wheel Drive."

In [17]:
query = """UPDATE audi18
SET drive = 'All-Wheel Drive'
WHERE drive = '4-Wheel or All-Wheel Drive';
"""

engine.execute(query)

### Write a for loop that iterates over the list of makes provided below, selects the top 10 vehicles with the highest city fuel efficiency for each make, and then concatenates all the results together into a single Pandas data frame.

In [18]:
makes = ["Ford", "Chevrolet", "Toyota", "Honda"]
results = []

In [20]:
fields = [(c.name, c.type) for c in vehicles_meta.columns]
fields_df = pd.DataFrame(fields, columns=["Name", "Type"])
fields_df

     Name              Type
0      id            BIGINT
1    make              TEXT
2   model              TEXT
3    year            BIGINT
4   class              TEXT
5   trans              TEXT
6   drive              TEXT
7     cyl  DOUBLE PRECISION
8   displ  DOUBLE PRECISION
9    fuel              TEXT
10    hwy            BIGINT
11    cty            BIGINT

In [21]:
for make in makes:
    query = f"""
    SELECT * 
    FROM vehicles
    WHERE make = '{make}'
    ORDER BY cty DESC
    LIMIT 10
    """
    result = engine.execute(query)
    results.append(pd.DataFrame(result, columns=list(fields_df.Name)))

results_df = pd.concat(results)
results_df.head()

,id,make,model,year,class,trans,drive,cyl,displ,fuel,hwy,cty
0,33024,Ford,Focus Electric,2013,Compact Cars,Automatic (A1),Front-Wheel Drive,NaN,NaN,Electricity,99,110
1,34130,Ford,Focus Electric,2014,Compact Cars,Automatic (A1),Front-Wheel Drive,NaN,NaN,Electricity,99,110
2,32278,Ford,Focus BEV FWD,2012,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,NaN,NaN,Electricity,99,110
3,30965,Ford,Ranger Pickup 2WD,2001,Standard Pickup Trucks 2WD,Automatic (A1),2-Wheel Drive,NaN,NaN,Electricity,54,62
4,30966,Ford,Ranger Pickup 2WD,2000,Standard Pickup Trucks 2WD,Automatic (A1),2-Wheel Drive,NaN,NaN,Electricity,54,62

In [22]:
engine.dispose()