In [8]:
%reload_ext nb_black

# SQL in Python

## Getting started

To work with SQL in python we're going to use the `sqlalchemy` package.  This package can connect to many databases instead of just postgres.  Because of this flexibility, `sqlalchemy` doesn't install everything we need, we need to install different db specific drivers to connect to different dbs.

Note, Google Colab comes with `sqlalchemy` pre-installed but you might need to install the drivers (as of writing this, no installation is needed for sqlalchemy + postgresql).

In [ ]:
# Installations for talking to postgres
# !pip install psycopg2-binary
# !pip install sqlalchemy

* `import` the `pandas` package using the typical alias
* `import` the following `from` the `sqlalchemy` package:
  * `create_engine`
  * `MetaData`
  * `Table`

In [1]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table

## Connecting to the data base

Whenever you first connected to pgAdmin you had to provide login information to reach the Thinkful database. Working in python is no different.  To provide this login information we use a "connection string" that contains all of the necessary info.

The format for one of these connection strings / database URLs is:

```
dialect+driver://username:password@host:port/database
```

For connecting to postgres our string will look like:

```
postgresql://username:password@host:port/database
```

-----

* Using the below variables, create the connection string and save it to a variable named `conn_str`
   * 3 options to build it might be:
     1. `.format()`
     2. `f` string
     3. concatentation with `+`

In [17]:
# Note, in practice, storing a password as a string in code is bad.
# In practice, you might read this password from a secret manager, or at
# a minimum store it in a different file that is listed in your `.gitignore`.
postgres_user = "dsbc_student"
postgres_pw = "7*.8G9QH21"
postgres_host = "142.93.121.174"
postgres_port = "5432"
postgres_db = "medicalcosts"

In [18]:
# Define connection string
conn_str = f"postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}"

Once we have this string we can create an 'engine' that will power the connection between SQL and Python.

* Use `create_engine` and `conn_str` to define a variable named `engine`

In [19]:
engine = create_engine(conn_str)

In [6]:
engine

Engine(postgresql://dsbc_student:***@142.93.121.174:5432/medicalcosts)

## Running a SQL query

Before we can run a query, we need to write a query.  We are connected to the `medicalcosts` database. Our table of interest is named `medicalcosts`.  The fields of this table are:

* age: The age of the individual. It's a numeric.
* sex: The biological sex of the insured. It is categorical (male or female).
* bmi: Body mass index. This index indicates whether an individual's weight is relatively high or low, based on height. This index defines an ideal range between 18.5 and 24.9. The variable is continuous.
* children: How many dependent children the insured person has. Dependents are covered by the insurance plan. This is a numeric variable.
* smoker: This categorical variable (yes | no) indicates whether or not the person smokes.
* region: The person's residential area in the US. It's a categorical variable (northeast, southeast, southwest, northwest).
* charges: The medical costs (in US dollars) billed by the insurance company. It's a continuous variable.

----

* Write a SQL query to retrieve all records in the database for people over 30 years old
* Save this query as a string to a variable named `query`

In [20]:
query = "SELECT * FROM medicalcosts WHERE age >30"

In [16]:
query = """
SELECT *
FROM medicalcosts
WHERE age > 30
"""

With larger SQL queries, you might consider saving them as `.sql` files and reading them into python.  Writing complex SQL can be more difficult if writing as a string (no syntax highlighting, autocomplete, SQL IDE, etc.)

In [11]:
with open("math_operations.sql", "r") as f:
    q = f.read()

# print(q)

In [12]:
print(q)

-- To answer these use the table:
-- bitcoinhistoricaldata.public.coinbase

-- Request from business client:
--   Show me the days that had gaps greater than 80 between open & close.
--   Info wanted for these days:
--     * What were the dates?
--     * How large are these gaps?
--     * What is the largest gap?
--     * What were the open/close values?
SELECT timestamp,
       ABS(open - close) AS gap,
       open,
       close
FROM   coinbase
WHERE  ABS(open - close) > 85;


-- Request from business client:
--   I'm a superstitious trader and I'd only like to trade on days where the open
--   value is a multiple of 5.  Are there days in the table where I'd be
--   able to trade?  Can you please send me a csv of the records where my
--   superstition would allow me to trade?
SELECT *
FROM   coinbase
WHERE  open :: DECIMAL % 5 = 0;

SELECT *
FROM   coinbase
WHERE  CAST(open AS DECIMAL) % 5 = 0;


-- The `volume_btc` field is fairly postively skewed.
-- That is most values are low but some are very high (see btc_skew.ipynb for more).
-- One way of dealing with this skew in machine learning
-- is by using transformations.  Some possible transformations
-- are log, square root, and cube root.  Write a query to return:
--   * every field in the table and
--   * a field for each of these transformations
SELECT *,
       LOG(volume_btc)            AS log_vol_btc,
       SQRT(volume_btc)           AS sqrt_vol_btc,
       volume_btc ^ ( 1.0 / 3.0 ) AS cbrt_vol_btc
FROM   coinbase;


-- Request from business client:
--   I want an instability metric thats a single value to show how volatile
--   the market was on a given day.  I'd like this metric to be the weighted
--   average between:
--     * The size of the gap between high/low   (40% weight)
--     * The size of the gap between open/close (60% weight)
--   I'd like this number to be rounded to only show one decimal.
--   Only show me the numbers where the open is different than the close.
--   If you think of a better metric, let me know, but please deliver on this
--   request before suggesting alternatives.
SELECT *,
       -- ROUND(what_to_round, number_of_decimal_places)
       ROUND(( ( high - low ) * 0.4 + ABS(open - close) * 0.6 ) :: DECIMAL, 1) AS metric_wt,
       -- Round up to nearest int (no option on number of decimals)
       CEIL(( ( high - low ) * 0.4 + ABS(open - close) * 0.6 ) :: DECIMAL) AS metric_wt_ceil,
       -- Round down to nearest int (no option on number of decimals)
       FLOOR(( ( high - low ) * 0.4 + ABS(open - close) * 0.6 ) :: DECIMAL) AS metric_wt_floor
FROM   coinbase
WHERE  NOT open = close;

With our `engine` and `query` we can now talk to SQL to retrieve data.  The `sqlalchemy` package has a lot of functionality that we can use to sift through query results, but with `pandas` this process can be simplified some.  If you ever have a need to sift through query results 1 record at a time then you might work w/o `pandas`.

The function we'll use to run the query is `pd.read_sql_query()`.  This function wants our `query` as the first paramater and a database connection (or connection string) as the `con` parameter.  Whenever we're done talking to the database, we want to close the connection.  To do this in `sqlalchemy` we will `.dispose()` of the `engine`.

* Run the query using `pd.read_sql_query()`
* Close your database connection
* Explore the data
  * Some ideas:
    * Are there differences between male/female?
    * Differences between smoker/non-smoker?
    * Regional differences?
    * Does age relate to charges?

In [22]:
med_costs = pd.read_sql_query(query, engine)
engine.dispose()

In [24]:
med_costs.head()

   age     sex     bmi  children smoker     region   charges
0   33    male  22.705         0     no  northwest  21984.50
1   32    male  28.880         0     no  northwest   3866.86
2   31  female  25.740         0     no  southeast   3756.62
3   46  female  33.440         1     no  southeast   8240.59
4   37  female  27.740         3     no  northwest   7281.51

## Single cell, minimal example of querying w/`pandas`

Below is a self contained example of querying the database.  Note if all we're doing is running a query with `pd.read_sql_query()` we don't need to create an `engine`.

As of writing this, [I'm waiting for confirmation from `pandas` devs](https://github.com/pandas-dev/pandas/issues/35495) that the connection is automatically disposed of when avoiding the creation of an `engine`.

In [ ]:
import pandas as pd


postgres_user = "dsbc_student"
postgres_pw = "7*.8G9QH21"
postgres_host = "142.93.121.174"
postgres_port = "5432"
postgres_db = "medicalcosts"

conn_str = f"postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}"

query = """
SELECT *
FROM medicalcosts
LIMIT 5000
"""

medical_costs = pd.read_sql_query(query, con=conn_str)
medical_costs.head(2)

## Using `sqlalchemy` for more than retrieving records

Create an engine that is pointed at your local database.

----

#### An aside about passwords

I've added the below lines to the `.gitignore` for the `class_notebooks` repo.  Note if you're storing files in a separate repo, you might want to modify your `.gitignore` similarly.

> ```
> # passwords/api keys/secrets
> secrets.json
> ```

With this in place we can add info we don't want in our code/repo to this `secrets.json` file without worrying about it being pushed to GitHub.  The `json` format will look very similar to a python dictionary.

Potential contents of `secrets.json`

```
{
	"local_psql_pw":  "CorrectHorseBatteryStaple"
}
```

This is a nice bandaid but not a full scale solution.  A secret manager might be used in a more 'production' style application (e.g. [AWS Secrets Manager](https://aws.amazon.com/secrets-manager/))

----

Okay, aside over, there's some code below to read a password from a `secrets.json` file; you might need to update the path depending on your file strucutre.

Back to the task at hand:

> Create an engine that is pointed at your local database.

In [25]:
# Read contents of `secrets.json` to a dictionary
import json

with open("../secrets.json", "r") as f:
    secrets = json.load(f)

In [26]:
postgres_user = "postgres"
postgres_pw = secrets["local_psql_pw"]
postgres_host = "localhost"
postgres_port = "5432"
postgres_db = "postgres"

In [27]:
conn_str = f"postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}"

In [28]:
engine = create_engine(conn_str)
engine

Engine(postgresql://postgres:***@localhost:5432/postgres)

List out the names of the tables we have available locally.

In [30]:
# dir(engine)
engine.table_names()

['vehicles', 'houseprices', 'normal_sales']

Create an instance of `MetaData()` using your `engine`.  From [`sqlalchemy` docs](https://docs.sqlalchemy.org/en/13/core/metadata.html):

> MetaData is a container object that keeps together many different features of a database (or multiple databases) being described.

In [31]:
meta = MetaData(engine)

Create an instance of `Table()` using a table of your choosing, your `MetaData` object, and setting `autoload=True`.

In [34]:
vehicles = Table("vehicles", meta, autoload=True)

List out the columns and datatypes that your table has.

In [36]:
list(vehicles.columns)

[Column('id', BIGINT(), table=<vehicles>),
 Column('make', TEXT(), table=<vehicles>),
 Column('model', TEXT(), table=<vehicles>),
 Column('year', BIGINT(), table=<vehicles>),
 Column('class', TEXT(), table=<vehicles>),
 Column('trans', TEXT(), table=<vehicles>),
 Column('drive', TEXT(), table=<vehicles>),
 Column('cyl', DOUBLE_PRECISION(precision=53), table=<vehicles>),
 Column('displ', DOUBLE_PRECISION(precision=53), table=<vehicles>),
 Column('fuel', TEXT(), table=<vehicles>),
 Column('hwy', BIGINT(), table=<vehicles>),
 Column('cty', BIGINT(), table=<vehicles>)]

Last stop on the SQL 🛢️ in Python 🐍 train 🚂.  Here are some final notes

* For reading data from SQL into pandas we can use `pd.read_sql_query()`
* For writing data to SQL from pandas we can use a dataframe's `.to_sql()` method (reference [the file](https://drive.google.com/file/d/1oabc-fLvCs6hN7U78TRShlX6Oo3VBfxr/view?usp=sharing) you ran to load data originally)
* To execture arbitrary sql we can use a `sqlalchemy` engine's `.execute()` method.

In [42]:
# For writing data to SQL from pandas we can use a dataframe's `.to_sql()` method.
import seaborn as sns

iris = sns.load_dataset("iris")
iris.to_sql("iris", engine, index=True)

engine.table_names()

['vehicles', 'houseprices', 'iris']

In [41]:
engine.table_names()

['vehicles', 'houseprices']

In [40]:
# To execture arbitrary sql we can use a sqlalchemy engine's `.execute()` method.
query = "DROP TABLE normal_sales"
engine.execute(query)

In [43]:
engine.dispose()